extends layout

block content
  h2.h2 Track: #{track.movie}
  div
    h3.h3 Add scene
    form(action='/tracks/#{track._id}/scenes/',method='post').border.rounded
      div.form-group.row
        label.col-sm-2.col-form-label Scene name
        div.col-sm-10
          input(type='text', name='name', required, placeholder="ex. First time travel").form-control#name
      div.form-group.row
        label.col-sm-2.col-form-label Scene start at
        div.col-sm-10
          input(type='text', name='movieStartAt', required, placeholder="ex. 00:23:06").form-control#movieStartAt
      div.form-group.row
        label.col-sm-2.col-form-label Scene end at
        div.col-sm-10
          input(type='text', name='movieEndAt', required, placeholder="ex. 00:32:16").form-control#movieEndAt
      div.form-group.row
        label.col-sm-2.col-form-label Song start at
        div.col-sm-10
          input(type='text', name='songStartAt', required, placeholder="ex. 00:01:20").form-control#songStartAt
      div.form-group.row
        label.col-sm-2.col-form-label Song end at
        div.col-sm-10
          input(type='text', name='songEndAt', required, placeholder="ex. 00:11:54").form-control#songEndAt
      div.form-group.row
        label.col-sm-2.col-form-label Last modifyed by
        div.col-sm-10
          select(id="lastModifyedBy", name="lastModifyedBy").form-control
            each acmeAgent in acmeAgents
              option(value="#{acmeAgent._id}") #{acmeAgent.surname}, #{acmeAgent.name}
      button(type='submit').btn.btn-primary Submit
  br
  div
    h3.h3 Scenes list
    table.table
      thead
        th Name
        th M. Star At
        th M. End At
        th S. Start At
        th S. End At
        th Modify By
        th Actual State
        th Actons
      tbody
        - var scenes = track.scenes
        each scene in scenes
          tr
            td=scene.name
            td=scene.movieStartAt
            td=scene.movieEndAt
            td=scene.songStartAt
            td=scene.songEndAt
            td
              span=scene.lastModifyedBy.surname
              span ,&nbsp;
              span=scene.lastModifyedBy.name
            td=scene.state()
            td 
              a(href='/tracks/#{track._id}/scenes/#{scene._id}/')
                i.fa.fa-search-plus
              i.fa.fa-edit
              i.fa.fa-trash
