extends layout

block content
  h2.h2 Track: #{track.movie}
  div
    h3.h3 Add scene
    form(action='/tracks/#{track._id}/scenes',method='post').border.rounded
      div.form-group
        label Scene name 
        input(type='text', name='name', required, placeholder="ex. First time travel")#name
      div.form-group
        label Scene start at
        input(type='text', name='movieStartAt', required, placeholder="ex. 00:23:06")#movieStartAt
      div.form-group
        label Scene end at
        input(type='text', name='movieEndAt', required, placeholder="ex. 00:32:16")#movieEndAt
      div.form-group
        label Song start at
        input(type='text', name='songStartAt', required, placeholder="ex. 00:01:20")#songStartAt
      div.form-group
        label Song end at
        input(type='text', name='songEndAt', required, placeholder="ex. 00:11:54")#songEndAt
      div.form-group
        label Last modifyed by
        select(id="lastModifyedBy", name="lastModifyedBy")
          each acmeAgent in acmeAgents
            option(value="#{acmeAgent._id}") #{acmeAgent.surname}, #{acmeAgent.name}
      button(type='submit').btn.btn-primary Submit
  br
  div
    h3.h3 Scenes list
    table.table
      thead
        th Name
        th M. Star At
        th M. End At
        th S. Start At
        th S. End At
        th Modify By
        th Actual State
        th Actons
      tbody
        - var scenes = track.scenes
        each scene in scenes
          tr
            td=scene.name
            td=scene.movieStartAt
            td=scene.movieEndAt
            td=scene.songStartAt
            td=scene.songEndAt
            td
              span=scene.lastModifyedBy.surname
              span ,&nbsp;
              span=scene.lastModifyedBy.name
            td=scene.state()
            td 
              a(href='scenes/'+scene._id)
                i.fa.fa-search-plus
